<header class="top-header">
  <a href="{{ '/' | relative_url }}" class="top-header-brand">
    <img
      src="{{ 'assets/images/EDL-Logo-Sm-dark.svg' | relative_url }}"
      class="top-header-logo"
      alt="Epistemic Decisions Logo"
    />
    <span class="top-header-title">Epistemic Decisions Lab</span>
  </a>
  <nav class="top-nav">
    {% for menu in site.data.menu %}
    <a href="{{ menu.path | relative_url }}"{% if page.url contains menu.path %} class="active"{% endif %}>{{ menu.name }}</a>
    {% endfor %}
  </nav>
</header>
